
body {
  background-color: #393e47;
  margin: 0;
}

.navbar {
  display: flex;
  background-color: #282c34;
  color: white;
  align-items: center;
  padding: 12px;
  margin: 0 ;

}

nav > h3 , nav > h4 {
  margin: 0;

}
nav > h3 {
  margin-right: auto;
}
.course {
  /* margin-left: 50%; */
  margin-right: auto;
}
.main{
  color: white;
  
}
.main .ul{
    /* list-style-type: ; */
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
